[Desktop Entry]
Name=WezTerm
GenericName=Terminal
Comment=GPU-accelerated terminal emulator
Keywords=shell;prompt;command;commandline;cmd;cli;terminal;console;wezterm;
Icon=org.wezfurlong.wezterm
StartupWMClass=org.wezfurlong.wezterm
TryExec=/home/linuxbrew/.linuxbrew/bin/wezterm
Exec=/home/linuxbrew/.linuxbrew/bin/wezterm start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
StartupNotify=true
X-KDE-AuthorizeAction=shell_access
Actions=new-window;new-tab;

[Desktop Action new-window]
Name=New Window
Exec=/home/linuxbrew/.linuxbrew/bin/wezterm start
Icon=window-new

[Desktop Action new-tab]
Name=New Tab
Exec=/home/linuxbrew/.linuxbrew/bin/wezterm cli spawn
Icon=tab-new
