/*
 * Assuming OSX dark theme and compact nav using sidebery
 * Should be readily customizable for whatever setup.
 * To inspect browser elements, you'll want to:
 * - Enable browser chrome and add-on debugging toolboxes in dev tools
 * - Enable remote debugging
 * - Go to Tools > Developer > Browser Toolbox (not Browser console)
 * Editing browser elements through the debugger seems buggy at times,
 * especially colors
 *
 */

/* TODO https://caniuse.com/css-nesting */
:root {
  --title-button-space: 75px;
  --extracted-sidebar-header-offset: 72px;
  --additional-grab-bar-height: 0px;
  --navbar-height: 28px;
  --fallback-bg: #462b46;

  @media (-moz-gtk-csd-available) {
    --browser-radius: 6px;
    --browser-border: 1px inset #0e0d0f;
    /* for some reason black doesn't render right */
    --additional-grab-bar-height: 8px;
    --ff-icon-size: 16px;
    --title-button-space: calc(var(--ff-icon-size) + 2 * var(--toolbar-start-end-padding));
    /* idk why this is different */
    --extracted-sidebar-header-offset: calc(var(--ff-icon-size) + 1.25 * var(--toolbar-start-end-padding));
  }
}

#sidebar {
  max-width: none !important;
  min-width: 0px !important;
}

/* show window controls */
#toolbar-menubar {
  visibility: visible !important;
  width: var(--title-button-space) !important;
  height: 0px !important;
  z-index: 1;

  hbox.titlebar-buttonbox-container {
    width: 100%;
    position: absolute;
    margin-top: calc(6px + var(--additional-grab-bar-height));
    margin-left: -3px;
    z-index: 3;
    /*! right: 1px; */
    /*! align-self: flex-start; */
  }
}

toolbox#navigator-toolbox {
  border-bottom: none !important;
}


#main-window:not(#main-window[privatebrowsingmode]) {

  /* Hide tab bar because we're using sidebar tabs */
  #TabsToolbar {
    visibility: collapse !important;
  }

  #sidebar-button[checked="true"] {
    visibility: hidden;
  }

  /*
  * Use the navbar ordering "sidebar button", "<-", "->", "refresh
  * This css will pull the sidebery button out and over the sidebar button when active,
  * while still surfacing the sidebar button when inactive
  */
  #nav-bar toolbarspring:first-child {
    max-width: var(--title-button-space) !important;
    width: var(--title-button-space) !important;
    min-width: var(--title-button-space) !important;
    z-index: 3;
  }

  /* Move sidebar header button into navbar */
  #sidebar-header {
    z-index: 3;
    /* Make the header button the size of the nav bar button and transparent */
    position: fixed !important;
    margin-left: var(--extracted-sidebar-header-offset) !important;
    margin-top: -27px !important;
    padding-top: 2px !important;
    background-color: transparent;
    padding-bottom: 0px !important;
    margin-bottom: 4px !important;
    width: 30px !important;
    height: 24px !important;
    pointer-events: none;
    border-color: transparent !important;

    @media (-moz-gtk-csd-available) {
      margin-top: -27px !important;
      padding-top: 2px !important;
    }

    /* Hide text and close button from sidebar header */
    >#sidebar-switcher-target>*:not(:first-child),
    >#sidebar-close {
      visibility: collapse !important;
    }

    /*
    * Make the header button the size of the nav bar button,
    * use a fitting color for the background
    * fix color as black because the treetab image is fixed color
    *
    * because sidebar header sizing can't be controlled,
    * we need to pass pointer events to <- -> buttons.
    * thus the pointer-events
    */
    >#sidebar-switcher-target {
      opacity: 1;
      /*! filter: opacity(1); */
      /* width: 32px !important; height: 32px !important; */
      padding: 3px !important;
      /*
      * because sidebar header sizing can't be controlled,
      * we need to pass pointer events to <- -> buttons
      */
      pointer-events: all;
      /* initially wanted this to have a "focused" indicator, but changing the button itself seems like enough */
      /* background-color: var(--input-bgcolor, var(--toolbar-bgcolor))!important; */
      z-index: 2;
    }

    >#sidebar-switcher-target:hover {
      background-color: var(--toolbarbutton-hover-background) !important;
    }

    >#sidebar-switcher-target image {
      filter: brightness(180%);
    }

  }
}

#sidebar-splitter {
  border-right: 2px solid black !important;
  border-left: 2px solid black !important;
  transition: border-color 0.25s cubic-bezier(0.07, 0.95, 0, 1);
  /* is -4px on non-linux for some reason */
  margin-inline-start: 0px !important;

  &:hover {
    border-left-color: rgb(31, 31, 31) !important;
  }

  &:active {
    border-color: rgb(62, 62, 62) !important;
  }
}

/* TODO idk where this issue came from but was super annoying */
#urlbar-container {
  height: var(--navbar-height) !important;
  max-height: var(--navbar-height) !important;
  --urlbar-container-height: var(--navbar-height) !important;
}

#urlbar {
  --urlbar-height: var(--navbar-height) !important;
  max-height: var(--navbar-height) !important;
  min-height: var(--navbar-height) !important;
  transition: font-size 0.125s ease-in-out .1s;
  /*#urlbar-background {
     transition: background-color 0.1s;
  }*/
  align-items: center;


  min-height: var(--navbar-height) !important;

  >.urlbar-input-container {
    overflow-x: visible !important;
  }

  box[role="button"] {
    /*background-color: var(--toolbar-bgcolor);*/
    z-index: 2;
    min-width: 22px;
    min-height: 24px;

    /*! display: b; */
    >box {
      align-items: center;
      min-width: 16px;
      min-height: 18px;
    }

    image {
      transition: 0.125s;
      max-width: 16px !important;
      max-height: 16px !important;
    }

    align-self: center;
  }

  #notification-popup-box {
    align-self: center;
    width: auto;
    height: auto;
  }

  #urlbar-input {
    transition: margin-left 0.125s ease-in-out;
    margin-left: 0px;
  }

  #urlbar-searchmode-switcher {
    padding-left: 6px !important;
    padding-right: 6px !important;

    margin-left: -2px !important;
    max-height: 14px;
    align-self: center;
    box-sizing: content-box;
    position: relative;
    top: 1px;
  }

  #searchmode-switcher-chicklet {
    max-height: 20px;
    align-self: center;
    position: relative;
    top: 0px;
  }

  &:not([focused]) #urlbar-searchmode-switcher,
  &:not([focused]) #searchmode-switcher-chicklet {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  &:not(:active, :focus, :focus-within) {
    font-size: 12px !important;

    #urlbar-background {
      margin-top: 6px;
      margin-bottom: 6px;
      max-height: 22px;
      opacity: 0.5;
      background-color: var(--input-bgcolor, var(--fallback-bg)) !important;
      /*var(--toolbar-bgcolor)!important;*/
    }

    box[role="button"]:not(:active, :hover, [open="true"]) {
      image {
        opacity: 0.3;
        /*! max-width: 12px !important; */
        /*! max-height: 12px !important; */
      }
    }
  }

  /* Hide https:// - we already have a lock icon */
  .urlbar-input-box {
    overflow: clip;
    max-height: 100%;
  }

  #urlbar-input {
    margin-left: calc(var(--urlbar-scheme-size) * -0.66) !important;

    @media (-moz-gtk-csd-available) {
      margin-left: calc(var(--urlbar-scheme-size) * -0.76) !important;
    }
  }
}

toolbar#nav-bar {
  height: calc(var(--navbar-height) + var(--additional-grab-bar-height));
  /* Supposed to inherit system accents, fallback to something noticable in case broken (or layout will break) */
  border-top: var(--additional-grab-bar-height) solid var(--lwt-accent-color-inactive, var(--lwt-accent-color, var(--fallback-bg))) !important;

  --toolbarbutton-inner-padding: 4px;

  .urlbar-page-action,
  .chromeclass-toolbar-additional:not(#sidebar-button, #back-button, #forward-button),
  #tracking-protection-icon-container,
  #identity-icon-box {
    transition: 0.125s ease-in-out;

    &:not(.urlbar-page-action) {
      margin-top: -3px !important;

      /*! padding-bottom: 5px !important; */
      /*! background-color: unset !important; */
      image {
        max-height: 22px;
      }
    }

    &#tracking-protection-icon-container,
    &#identity-icon-box {
      margin-top: -1px !important;
      /*! border: solid transparent; */
      background-color: unset !important;
    }

    image {
      transition: 0.125s ease-in-out;
      scale: 1.1;
    }

    opacity: 1.0 !important;
    height: 34px;
    /* this + scale focus on image prevents weird nested menu wiggling */
    max-width: 24px !important;

    .toolbarbutton-badge {
      opacity: 1 !important;
      /*! height: 34px; */
      /*! max-width: 24px !important; */
    }

    &:not(:hover, :active, :focus, :focus-within, [open="true"]) {

      >image,
      > :not(toolbarbutton) image,
      toolbarbutton:not([open="true"]) image {
        scale: 0.75;

        &:first-of-type:not(:last-of-type) {
          transform-origin: right;
        }

        &:last-of-type:not(:first-of-type) {
          transform-origin: left;
        }
      }

      /* reload icon too small for some reason */
      #reload-button image {
        scale: 0.85;
      }
    }
  }

  /* partial motivation originally was this arc-ish popout but moving the icons is just worse really
  &:not(:focus-within, [open="true"]) #urlbar-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }*/

  &:not(:active, :hover, :focus, :focus-within, [open="true"]) {

    .urlbar-page-action,
    .chromeclass-toolbar-additional:not(#sidebar-button, #back-button, #forward-button),
    #tracking-protection-icon-container,
    #identity-icon-box,
    #searchmode-switcher-chicklet {
      opacity: 0.4 !important;

      .toolbarbutton-badge {
        opacity: 0 !important;
      }
    }
  }



  /* todo unify with other urlbar styles */
  #forward-button {
    /* todo fragile, maybe hist buttons should be centered */
    margin-right: auto !important;
  }

  #urlbar-container {
    transition: max-width 0.1s ease-in-out;
    max-width: 900px;

    /*! max-height: 100%!imp; */
    &+* {
      margin-left: auto !important;
    }
  }


  /*#urlbar { pointer-events: none; }*/
}

/*
Linux-specific. I'm currently using KDE breeze with flatpak.
Trying not to worry about this too much as want to get rid of titlebars eventually
*/
@media (-moz-gtk-csd-available) {
  #main-window[inFullscreen="true"] #toolbar-menubar {
    display: none !important;
  }

  #main-window:not([inFullscreen="true"]) {
    toolbox#navigator-toolbox {
      border: var(--browser-border) !important;
      border-bottom-width: 0px !important;
      border-top-left-radius: var(--browser-radius) !important;
      border-top-right-radius: var(--browser-radius) !important;
    }

    #browser {
      border: var(--browser-border) !important;
      border-top-width: 0px !important;
      border-bottom-left-radius: var(--browser-radius) !important);
      border-bottom-right-radius: var(--browser-radius) !important;
    }
  }

  #toolbar-menubar hbox.titlebar-buttonbox-container {
    margin-top: calc(1px + var(--additional-grab-bar-height));
    margin-right: 10px;
    width: var(--title-button-space);
  }

  &[privatebrowsingmode] {
    --additional-grab-bar-height: 0px;

    #toolbar-menubar {
      display: none !important;
    }

    hbox.titlebar-buttonbox-container {
      margin-left: 16px;
      width: auto;
    }
  }

  #navigator-toolbox {
    z-index: unset !important;
  }

  /* necessary for hacked kde menu to overlay z-indexed sidebar button */
  #toolbar-menubar {
    &[customizing] {
      display: none;
    }

    --show-animation: max-width 0.125s ease-out,
    opacity 0.125s ease-out;
    position: fixed;
    left: 0px;
    top: var(--additional-grab-bar-height);
    height: var(--navbar-height) !important;
    /*overflow: hidden;*/
    /*! width: 100%!important; */
    z-index: 4;
    display: flex;
    padding-left: calc(var(--ff-icon-size) + 2 * var(--toolbar-start-end-padding)) !important;
    max-width: 450px;
    transition: var(--show-animation);

    &::before {
      content: ' ';
      background-image: url('./linux_assets/firefox_logo.svg');
      background-size: var(--ff-icon-size);
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-position: center;
      width: var(--ff-icon-size) !important;
      height: var(--ff-icon-size) !important;
      margin-top: 5px;
      margin-left: var(--toolbar-start-end-padding);
      align-content: center;
      align-self: flex-start;
      position: absolute;
      left: 2px;
      top: 2px;
      cursor: pointer;
      z-index: 2;
      overflow: hidden;
      /*! width: fit-content; */
      /*! padding-left: 0px !important; */
    }

    >spacer {
      display: none;
    }

    /* show menubar menus on hover */
    #menubar-items,
    hbox.titlebar-buttonbox-container {
      height: var(--navbar-height);
      opacity: 1;
      background: black !important;
      height: var(--navbar-height);
      max-width: 450px;
      margin-top: unset;
      margin-left: unset;
      position: relative;

      /*! padding-left: calc(var(--ff-icon-size) + 2 * var(--toolbar-start-end-padding)); */
      /* note: :hover delay is finicky / unreliable */
      transition: var(--show-animation);
      /*! top: -16px; */
    }

    &:not(:hover, :active, :focus, :focus-within, [open="true"]) {
      max-width: var(--ff-icon-size);

      #menubar-items,
      hbox.titlebar-buttonbox-container {
        opacity: 0;
        pointer-events: none;
        max-width: 0px;
        margin-right: 0px;
      }
    }
  }

  hbox.titlebar-buttonbox-container toolbarbutton.titlebar-button {
    background-color: transparent !important;
    /*width: 26px;
    height: 26px;
    margin-left: 1px;
    margin-right: 7px !important;*/
    --titlebar-button-size: 16px;

    &.titlebar-min {
      list-style-image: url("./linux_assets/breeze/minimize-normal.svg") !important;

      &:hover {
        list-style-image: url("./linux_assets/breeze/minimize-hover.svg") !important;
      }

      &:active {
        list-style-image: url("./linux_assets/breeze/minimize-active.svg") !important;
      }

      &:-moz-window-inactive {
        list-style-image: url("./linux_assets/breeze/minimize-backdrop-normal.svg") !important;

        &:hover {
          list-style-image: url("./linux_assets/breeze/minimize-backdrop-hover.svg") !important;
        }

        &:active {
          list-style-image: url("./linux_assets/breeze/minimize-backdrop-active.svg") !important;
        }
      }
    }

    &.titlebar-max {
      list-style-image: url("./linux_assets/breeze/maximize-normal.svg") !important;

      &:hover {
        list-style-image: url("./linux_assets/breeze/maximize-hover.svg") !important;
      }

      &:active {
        list-style-image: url("./linux_assets/breeze/maximize-active.svg") !important;
      }

      &:-moz-window-inactive {
        list-style-image: url("./linux_assets/breeze/maximize-backdrop-normal.svg") !important;

        &:hover {
          list-style-image: url("./linux_assets/breeze/maximize-backdrop-hover.svg") !important;
        }

        &:active {
          list-style-image: url("./linux_assets/breeze/maximize-backdrop-active.svg") !important;
        }
      }
    }

    &.titlebar-close {
      list-style-image: url("./linux_assets/breeze/close-normal.svg") !important;

      &:hover {
        list-style-image: url("./linux_assets/breeze/close-hover.svg") !important;
      }

      &:active {
        list-style-image: url("./linux_assets/breeze/close-active.svg") !important;
      }

      &:-moz-window-inactive {
        list-style-image: url("./linux_assets/breeze/close-backdrop-normal.svg") !important;

        &:hover {
          list-style-image: url("./linux_assets/breeze/close-backdrop-hover.svg") !important;
        }

        &:active {
          list-style-image: url("./linux_assets/breeze/close-backdrop-active.svg") !important;
        }
      }
    }

    margin-right: -2px;
  }
}